* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*sets background of body to white*/
body {
    background-color: #d9dcd6;
}

/*sets background to blue and text color to white, specifies font family for browser*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*makes the "hori___n" & "seo" text display correctly as one word, sets font size*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*sets "seo" text color to a gray*/
.header h1 .seo {
    color: #d9dcd6;
}

/*Sets font group for nav bar links, margins the text to the right and vertically centers the text in the header*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*puts link on the left side of header, makes them display side by side and removes the bullet points*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

/*sets link text color to white & removes the underline*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*sets text in p element font size to 16px*/
p {
    font-size: 16px;
}

/*displays the background image, sets it to cover the width of the screen, and centers it*/
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*places image on the left/ right side of the card and adds spacing around it, sets max size for image*/
.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/*sets perimeter for content area & places it on the left of the page*/
#content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*sets perimeter for benefits sidebar, sets font family for benefits text, makes benefits area blue, and places benefits area on the right of the page*/
#benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*adds spacing between each benefit item & sets p element text color to white*/
.benefit-item {
    margin-bottom: 32px;
    color: #ffffff;
}

/*adds spacing between each benefit title and centers the text relevant to the benefits sidebar*/
.benefit-item h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*makes image display take up whole width of benefits sidebar, adds spacing around each image, and sets max width for each*/
.benefit-item img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*sets font family for text within content cards, size for each content card, card background color to blue, and text color to white*/
#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*adds spacing between each card and sets font size for text within the cards*/
.card-titles {
    margin-bottom: 20px;
    font-size: 36px;
}

/*sets spacing around footer text, places footer under content and benfits, sets font family, and aligns footer text to center of page*/
#footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*sets footer h2 text to 20px*/
#footer h2 {
    font-size: 20px;
}
